<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Bookstore</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com//new/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">

    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/new/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/new/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/new/css/font-awesome./new/css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="/new/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/new/css/themify-icons.css">
    <!-- Nice Select /new/css -->
    <link rel="stylesheet" href="/new/css/niceselect.css">
    <!-- Animate /new/css -->
    <link rel="stylesheet" href="/new/css/animate.css">
    <!-- Flex Slider /new/css -->
    <link rel="stylesheet" href="/new/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/new/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/new/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="/new/css/reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/new/css/responsive.css">



</head>
<body class='js'>
    {{>_msg}}
    {{> _navbar}}
    {{{body}}}
    {{> _footer}}
    <!-- Jquery -->
    <script src="/new/js/jquery.min.js"></script>
    <script src="/new/js/jquery-migrate-3.0.0.js"></script>
    <script src="/new/js/jquery-ui.min.js"></script>
    <!-- Popper /new/js -->
    <script src="/new/js/popper.min./new/js"></script>
    <!-- Bootstrap /new/js -->
    <script src="/new/js/bootstrap.min.js"></script>
    <!-- Color /new/js -->
    <script src="/new/js/colors.js"></script>
    <!-- Slicknav /new/js -->
    <script src="/new/js/slicknav.min.js"></script>
    <!-- Owl Carousel /new/js -->
    <script src="/new/js/owl-carousel.js"></script>
    <!-- Magnific Popup /new/js -->
    <script src="/new/js/magnific-popup.js"></script>
    <!-- Waypoints /new/js -->
    <script src="/new/js/waypoints.min.js"></script>
    <!-- Countdown /new/js -->
    <script src="/new/js/finalcountdown.min.js"></script>
    <!-- Nice Select /new/js -->
    <script src="/new/js/nicesellect.js"></script>
    <!-- Flex Slider /new/js -->
    <script src="/new/js/flex-slider.js"></script>
    <!-- ScrollUp /new/js -->
    <script src="/new/js/scrollup.js"></script>
    <!-- Onepage Nav /new/js -->
    <script src="/new/js/onepage-nav.min.js"></script>
    <!-- Easing /new/js -->
    <script src="/new/js/easing.js"></script>
    <!-- Active /new/js -->
    <script src="/new/js/active.js"></script>
</body>

</html>