.primary-color {
	background-color: #007bff;
}

.btn-primary {
	background-color: #007bff !important;
}

.btn-secondary {
	background-color: #007bff !important;
}

nav .navbar-brand {
	color: white!important;
}

nav .nav-link {
	color: white!important;
}

.pagination .page-item .page-link {
	color: white!important;
}