{% extends "layouts/base.html" %}

{% block pageCSS %}

{% endblock pageCSS %}

{% block pageJS %}

{% endblock pageJS %}

{% block pageContent %}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">Feedback</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Contact Us</h1>
        <h2>Form submission failed</h2>
        <p>Please check that your email is filled correctly and try again.</p>
        <p>This happens if email is like a@a</p>
        <a href="/feedback">Back</a>
    </div>
</section>

{% endblock pageContent %}