<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">Feedback</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>Contact Us</h1>
        <form method="POST" action="/feedbacksent">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email(size=20) }}
            <br>
            <br>
            {{ form.message.label }} {{ form.message(size=20) }}
            <br>
            <br>
            <button class="btn black">Alright, Submit</button>
        </form>
    </div>
</section>

