 	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/showabout">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

 
 
 <section class="static about-sec">
        <div class="container">
            <h1>About Us</h1>
            <div class="img-sec">
                <img src="/images/aboutus.jpg" alt="about">
				<div>
                <h>We are a company aspiring to share e-books that are beyond your imagination</h>
				<h>As well as spreading attention to keep the country clean and green without us wasting more paper and trees</h>
				</div>
        </div>
    </section>
