<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/showcontact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<h4>Feedback</h4>
									<h3>Write down here</h3>
								</div>
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Name<span>*</span></label>
												<input name="name" type="text" placeholder="Your Name">
											</div>
										</div>
										
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Gender<span>*</span></label>


												<fieldset id="setD">
													<input id="setD_male" type="radio" name="setD_gender">
													<label for="setD_male">Male</label>
													<input id="setD_female" type="radio" name="setD_gender">
													<label for="setD_female">Female</label>
												</fieldset>
											</div>
										</div>

										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Subjects<span>*</span></label>
												<input name="subject" type="text" placeholder="Enter your subject">
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Email<span>*</span></label>
												<input name="email" type="email" placeholder="Enter Your Email">
											</div>	
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Phone<span>*</span></label>
												<input name="company_name" type="text" placeholder="Enter Your Phone Number">
											</div>


										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Do you think there can be any improvements to the system?<span>*</span></label>
												<input name="company_name" type="text" placeholder="Enter here ">
											</div>	
										</div>

										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Was the system easy to use?<span>*</span></label>


												<fieldset id="setD">
													<input id="setD_yes" type="radio" name="setD_ans">
													<label for="setD_yes">yes/label>
													<input id="setD_no" type="radio" name="setD_ans">
													<label for="setD_no">no</label>
												</fieldset>
												<label>if not, whats the reason?</label>
												<input name="company_name" type="text" placeholder="Enter here ">
											</div>	
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Any other feedback?<span>*</span></label>
												<input name="company_name" type="text" placeholder="Enter here ">
											</div>	
										</div>


										<div class="col-12">
											<div class="form-group button">
												<button type="submit" class="btn ">Send Message</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>