<!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="/showfeedback">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Start Contact -->
    <section id="contact-us" class="contact-us section">
        <div class="container">
                <div class="contact-head">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="form-main">
                                <div class="title">
                                    <h4>Feedback</h4>
                                    <h3>Write down here</h3>
                                </div>
                                <form class="form" method="post" action="mail/mail.php">
                                    <div class="row">


                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Your Name<span>*</span></label>
                                                <input name="name" type="text" placeholder="Your Name">
                                            </div>
                                        </div>
                                        

                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Your Email<span>*</span></label>
                                                <input name="email" type="email" placeholder="Enter Your Email">
                                            </div>    
                                        </div>

                                        
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Feedback<span>*</span></label>
                                                <textarea name="response" placeholder="Enter your feedback"></textarea>
                                            </div>
                                        </div>

                                        

                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>Rate Service On Scale 1-5?<span>*</span></label>

                                                
                                                <select class="system"name ="option">
                                                <option selected>Select your option</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                </select>
                                            </div>    
                                        </div>

                                        
                                        


                                        <div class="col-12">
                                            <div class="form-group button">
                                                
                                                <button type="submit" class="btn ">Send Feedback</button>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>