<!-- Slider Area -->
<section class="hero-slider">
	<!-- Single Slider -->
	
	<div class="single-slider">
		<img src="/images/book3.webp" alt="">
		<div class="container">
			
			<div class="row no-gutters">
				
				<div class="col-lg-9 offset-lg-3 col-12">
					
					<div class="text-inner">
						
						<div class="row">
							<div class="col-lg-7 col-12">
								
								<div class="hero-text">
									
									<h1><span>UP TO 50% OFF </span>E books For Sale</h1>
									<div class="button">
										<a href="/showproduct" class="btn">Shop Now!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Small Banner  -->
<section class="small-banner section">
	
	<div class="container-fluid">
		<div class="row">
			<!-- Single Banner  -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-banner">
					
					<img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/08/Promo-materials.jpg?auto=format&q=60&w=2060&h=1236&fit=crop&crop=faces" alt="#">
					<div class="content">
						<p>special Collectons</p>
						<h3>book <br> collection</h3>
						<a href="#">Discover Now</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
			<!-- Single Banner  -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-banner">
					<img src="https://freight.cargo.site/t/original/i/dd5a7e1f19d67a042760ad04e921980393e6cfe10d52bef5a8569e7ccd8f684a/Longest-Season-Cover-Mock-Up.jpg" alt="#">
					<div class="content">
						<p>book Collectons</p>
						<h3>Awesome Books <br> 2020</h3>
						<a href="/showproduct">Shop Now</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
			<!-- Single Banner  -->
			<div class="col-lg-4 col-12">
				<div class="single-banner tab-height">
					<img src="/images/season2.jpg" alt="#">
					<div class="content">
						<p>Flash Sale</p>
						<h3>Mid Season <br> Up to <span>40%</span> Off</h3>
						<a href="#">Discover Now</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
		</div>
	</div>
</section>
<!-- End Small Banner -->

<!-- Start Product Area -->
<div class="product-area section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Trending Books</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="product-info">
					<div class="nav-main">
						<!-- Tab Nav -->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man"
									role="tab">Adventure</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women"
									role="tab">Horror</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Kids</a>
							</li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories"
									role="tab">Fiction</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential"
									role="tab">Non-Fiction</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices"
									role="tab">Prices</a></li>
						</ul>
						<!--/ End Tab Nav -->
					</div>
					<div class="tab-content" id="myTabContent">
						<!-- Start Single Tab -->
						<div class="tab-pane fade show active" id="man" role="tabpanel">
							<div class="tab-single">
								<div class="row">
									<div class="col-xl-3 col-lg-4 col-md-4 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/showproductdetail">
													<img class="default-img" src="/images/img4.jpg"
														alt="#">
													<img class="hover-img" src="https://via.placeholder.com/550x750"
														alt="#">
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#exampleModal"
															title="Quick View" href="#"><i
																class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
																to Wishlist</span></a>
														<a title="Compare" href="#"><i
																class="ti-bar-chart-alt"></i><span>Add to
																Compare</span></a>
													</div>
													<div class="product-action-2">
														<a title="Add to cart" href="#">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="product-details.html">Women Hot Collection</a></h3>
												<div class="product-price">
													<span>$29.00</span>
												</div>
											</div>
										</div>
									</div>
							
							
								</div>
							</div>
						</div>
						<!--/ End Single Tab -->
						<!-- Start Single Tab -->
						<div class="tab-pane fade" id="women" role="tabpanel">
							<div class="tab-single">
								<div class="row">
									<div class="col-xl-3 col-lg-4 col-md-4 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="product-details.html">
													<img class="default-img" src="https://via.placeholder.com/550x750"
														alt="#">
													<img class="hover-img" src="https://via.placeholder.com/550x750"
														alt="#">
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#exampleModal"
															title="Quick View" href="#"><i
																class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
																to Wishlist</span></a>
														<a title="Compare" href="#"><i
																class="ti-bar-chart-alt"></i><span>Add to
																Compare</span></a>
													</div>
													<div class="product-action-2">
														<a title="Add to cart" href="#">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="product-details.html">Women Hot Collection</a></h3>
												<div class="product-price">
													<span>$29.00</span>
												</div>
											</div>
										</div>
									</div>
									
							
								
								
								
						</div>
						</div>
						</div>
						</div>
		</div>
	</div>
</div>
						<!--/ End Single Tab -->