<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/showreviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<style>
.review{
    width: 750px;
    border: 1px solid #000000;
    word-wrap: break-word;
}
</style>
<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    {{#each feedbacks}}
                        <div class="review">
                            <div>
                                <img src="images/profile.png" alt="img"
                                    width="40px" height="40px">
                                <h4>{{name}}</h4>
                                <h6>Rating: {{options}}/5</h6>
                                <h5>{{feedback}}</h5>
                                <h6>{{date}}<h6>
                            </div>
                        </div>
                        <hr>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>