<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/showreviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->


<div class="form-main">
    <div class="title">
        <h6>Your review will help us to improve our web hosting quality products, and customer services.</h6>
        <h3>Write us a review</h3>
    </div>
    <form class="form" method="post" action="mail/mail.php">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label>Your Name<span>*</span></label>
                    <input name="name" type="text" placeholder="Your Name">
                </div>
            </div>
        </div>
</div>
<div class="col-lg-6 col-12">
    <div class="form-group">
        <label>Your Email<span>*</span></label>
        <input name="email" type="email" placeholder="Enter Your Email">
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="form-group">
        <label>Your Phone<span>*</span></label>
        <input name="company_name" type="text" placeholder="Enter Your Phone Number">
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="form-group">
        <label>Your Rating<span>*</span></label>
        <select class="form-control" id="rate">
            <option value="1star">1</option>
            <option value="2stars">2</option>
            <option value="3stars">3</option>
            <option value="4stars">4</option>
            <option value="5stars">5</option>
        </select>
    </div>

</div>
</div>
<div class="col-12">
    <div class="form-group message">
        <label>Your Feedback<span>*</span></label>
        <textarea name="message" placeholder="Enter your feedback"></textarea>
    </div>
</div>
<div class="col-12">
    <div class="form-group button">
        <button type="submit" class="btn ">Send Feedback</button>
    </div>
</div>
</div>
</form>
</div>
