{% extends "layouts/base.html" %}

{% block pageCSS %}

{% endblock pageCSS %}

{% block pageJS %}

{% endblock pageJS %}

{% block pageContent %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Login</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / Login</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <div class="form">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-5">
                             <input type="name" name="email" placeholder="Enter Email" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-md-5">
                            <input type="password" name="password"placeholder="Enter Password" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="submit" class="btn btn-black" value="Login">
                            <h5>not Registered? <a href="/auth/register">Register here</a></h5>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h5>Forgot password? <a href="/auth/loginforget">Click here</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock pageContent %}