{% extends "layouts/base.html" %}

{% block pageCSS %}

{% endblock pageCSS %}

{% block pageJS %}
<script>
    function dontexist() {
        alert("Email doesn't exist");
    }
</script>

{% endblock pageJS %}

{% block pageContent %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Login</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>Forget password?</h1>
            <p> Enter your e-mail and we will send you a new password to your registered e-mail </p>
            <div class="form">
                <form method="POST" action="/auth/forgot">
                    <div class="row">
                        <div class="col-md-5">
                             <input type="email" name="email" placeholder="Enter Email" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-md-5">
                            <input type="email" name="email2" placeholder="Re-enter Email" required>
                           <span class="required-star">*</span>
                       </div>
                        <div class="col-lg-8 col-md-12">
                            <a href="/auth/forgot"><input type="submit" class="btn btn-black" value="Reset password"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock pageContent %}