<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/showlogin">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" method="POST">
                <span class="login100-form-title p-b-32">
                    Account Login
                </span>

                <span class="txt1 p-b-11">
                    Email
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                    <input class="input100"type="email" name="email" placeholder="Enter Email" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
                    Password
                </span>
                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                    <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" placeholder="Enter Password" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="/showforget" class="txt3">
                            Forgot Password?
                        </a>
                    </div>
                </div>
                <style></style>
                <div class="container-login100-form-btn flex-sb-m w-full p-b-48">
                    <button class="login100-form-btn"  type="submit>
                        
						<a href="/showadmin">Login</a>
						</button>

                     <div>
                        <a href="/showregister" class="txt3">
                            NO account? Register here!
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    </div>

    <div id="dropDownSelect1"></div>





























    {{!-- <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Login</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / Login</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <div class="form">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="name" name="email" placeholder="Enter Email" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-md-5">
                            <input type="password" name="password" placeholder="Enter Password" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="submit" class="btn btn-black" value="Login">
                            <h5>not Registered? <a href="/auth/register">Register here</a></h5>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h5>Forgot password? <a href="/auth/loginforget">Click here</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section> --}}